<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
<h1>Event</h1>

<!-- 모델의 키값은 event -->
<h2 th:text="${event.name}"></h2>
<p th:text="${event.description}"></p>

<form th:action="@{/events/{eventId}(eventId=${eventId})}" method="post">
    <label for="name">이벤트 명:</label>
    <input id="name" name="name" type="text">

    <label for="description">이벤트 설명:</label>
    <input id="description" name="description" type="text">

    <input type="submit">
</form>
</body>
</html>